.tech__logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.tech__logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.tech__logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav__link {
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
    linear-gradient(to right, #00DF9A, #00DF9A);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nav__link:hover,
.nav__link:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.under__line {
  background: 
    linear-gradient(to right, #282d31, #282d31),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, .2), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
	position: relative;
	z-index: 1;
	display: grid;
	place-content: center;
	width: 250px;
	height: 250px;
	text-align: center;
	background-size: cover;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
}
.card::before,
.card::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: calc(60% + 35px);
	background-color: #111418;
	transition: transform 0.5s 0.25s;
}
.card::before {
	top: 0;
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
	transform: translateY(-100%);
}
.card::after {
	bottom: 0;
	clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
	transform: translateY(100%);
}
.card__body {
	opacity: 0;
	transition: opacity 0.25s;
}
.card__title {
	margin-bottom: 15px;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
	transform: translateY(0);
}
.card:hover .card__body,
.card:focus .card__body {
	opacity: 1;
	transition-delay: 0.75s;
}