@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (min-width: 475px) {} */

/* @media (min-width: 640px) {} */

/* @media (min-width: 768px) {} */

/* @media (min-width: 1024px) {} */

/* @media (min-width: 1280px) {} */

/* @media (min-width: 1536px) {} */

.text {
  font-family: 'Cormorant Garamond', Courier, monospace;
  font-weight: 600;
}

.text-mono {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

img,
svg,
picture,
video {
  max-width: 100%;
  display: block;
}

body {
  background-color: #2e4052;
  line-height: 1.5;
  min-height: 100vh;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 5rem;
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
    font-size: 1.125rem;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* #2e4052

#b48d8d

#9a9a65

#9fc19f

#7777a6 */